


<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Education as a Benefit - Guild Education</title>
  </head>

  <body class="text-center">
      
    <div class="section">

      <a href="/" class=" guildSignIn" ><%= image_tag("students/guild_logo.jpeg", width: '175px') %></a>
      <div class="container-fluid newCourseForm">
      
      <h3 class="welcomeBack">Welcome Back!</h3>

        <%= render "layouts/alert"%>
      
          
              <%= form_for :student, url: login_path do |f| %>
              <div class="textInputs">

                <%=f.text_field :username, class: "form-control Input", :placeholder => 'Enter Username' %>
                <%=f.password_field :password, class: "form-control Input", :placeholder => 'Enter Password' %>
                </div>
                <%=f.submit "LOG IN", class: "btn btn-lg btn-default loginButton" %>
               
              <%end%>
          </div>
    </div>                
  </body>
</html>