


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education as a Benefit - Guild Education</title>
</head>

<body class="text-center signInForm">
<div class="container-fluid">
  <a class=" guildSignIn" ><%= image_tag("students/guild_logo.jpeg", width: '175px') %></a>

<h3 class="welcomeBack">Welcome Back!</h3>
<%= form_for :student, class: "form-signin", url: login_path do |f| %>
  <%=f.text_field :username, class: "form-control input", :placeholder => 'Enter Username' %>
  <%=f.password_field :password, class: "form-control input", :placeholder => 'Enter Password' %>

  <%=f.submit "LOG IN", class: "btn btn-lg btn-primary loginButton" %>
<%end%>
</div>


</body>
</html>