
        <%= render "layouts/studentHeader"%>
<div class="registerInd">
<div class="container-fluid">
<div class="card w-100 cardHeight">
    <div class="card-body">
      <h3 class="card-title"><%=@course.name%></h3>
      <h6 class="card-subtitle mb-2 text-muted"><%=@course.start%> - <%=@course.end%></h6>
      
      <p class="card-text"><%=@course.description%></p>

     

      <%= hidden_field_tag @course%>

        
         <%= button_to('Unregister Course?', student_students_registered_course_path(current_student.id, @course.id),
         method: "delete", remote: true, data: { confirm: 'Are you sure you want to unregister?', disable_with: 'loading...' }, class: "btn btn-default loginButton") %>






    </div>
  </div>
</div>
</div>
