

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education as a Benefit - Guild Education</title>
</head>
<body>

<%= render "layouts/navbar"%>
    

<%= render "layouts/heading"%>


  <%= render "layouts/features"%>

  
  
<%= render "layouts/companyCarousel"%>

  
<%= render "layouts/joinBenefits"%>



<%= render "layouts/footer"%>
 
    
</body>
</html>

