this is the form to create a new student


<%= form_for @student do |f| %>
    <p><%=f.label "First Name:" %></p>
    <%=f.text_field :first_name, :placeholder => "Enter First Name" %><br><br>
    <p><%=f.label "Last Name:" %></p>
    <%=f.text_field :last_name, :placeholder => "Enter Last Name" %><br><br>
    <p><%=f.label "Email:" %></p>
    <%=f.text_field :email, :placeholder => "Enter Email" %><br><br>
    <p><%=f.label "Username:" %></p>
    <%=f.text_field :username, :placeholder => "Enter Username" %><br><br>
    <p><%=f.label "Password:" %></p>
    <%=f.password_field :password, :placeholder => "Enter Password" %><br><br>
    <p><%=f.label "Confirm Password:"%></p>
    <%=f.password_field :password_confirmation, :placeholder => "Confirm Password" %><br><br>
    <%=f.button "Sign Up", :class => 'btn'%>
<%end%>