

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education as a Benefit - Guild Education</title>
</head>
<body class="showLogIn">
<%= render "layouts/navbar" %>
<%= render "layouts/flashMessage"%>



<%= render "layouts/studentHeader" %>
    



        <div class='row cardsShow'>
            <div class="col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="card-body ">
                        <h3 class="card-title">Take the next step</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Talk to an advisor!</h6>
                        <p class="card-text">Guild helps students successfully enroll in academic programs that are changing their future. Join our growing number of students and graduates!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card w-100">
                    <div class="card-body">
                        <h3 class="card-title">Programs and Courses</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Check it out!</h6>
                        <p class="card-text"><a href="/students/<%=@student.id%>/courses">View</a> or <a href="/students/<%=@student.id%>/courses/new">Add</a> Courses to your yearly planner!</p>
                    </div>
                </div>
            </div>
        </div>

<%= render "layouts/changeForBetter" %>
        

<%= render "layouts/footer" %>
</body>

