
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Education as a Benefit - Guild Education</title>
    </head>
    <body>
    
        <%= render "layouts/navbar"%>
        <%= render "layouts/flash" %>
        <%= render "layouts/studentHeader"%>


<div class="registerGroupCourses">
    <h3 class="text-center">Register for Courses</h3>
</div>
    
    <!-- Add a search bar here -->


<div class="row courses justify-content-center">
    <% @register_courses.each do |course| %>
        <div class="displayCourses">           
            <div class= "col-lg-4 col-md-6 col-sm-12">
                <div class="card indCard">
                    <div class="card-body text-center">
                        <h4 class="card-title"><%= course.name %></h4>
                        <p class="card-text"><%= course.start %> - <%= course.end %></p>
                        <%= link_to 'View More', register_course_path(course.id), class: "btn btn-default loginButton" %>                  
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
    
        




    


        
        <%= render "layouts/footer"%>
    </body>
</html>