
        <%= render "layouts/studentHeader"%>
<div class="registerInd">
<div class="container-fluid">
<div class="card w-100 cardHeight">
    <div class="card-body">
      <h3 class="card-title"><%=@register_course.name%></h3>
      <h6 class="card-subtitle mb-2 text-muted"><%=@register_course.start%> - <%=@register_course.end%></h6>
      
      <p class="card-text"><%=@register_course.description%></p>

     

      <%= hidden_field_tag :register_course, @register_course%>

        
         <%= button_to "Register", student_register_courses_path(@register_course.id), :method => :post, :class => "btn btn-md btn-default loginButton", remote: true, form: { "data-type" => "json" }, :params => {register_course: @register_course} %>

    </div>
  </div>
</div>
</div>



