
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Education as a Benefit - Guild Education</title>
    </head>
    <body>
    
        <%= render "layouts/navbar"%>
        <%= render "layouts/flash" %>
        <%= render "layouts/studentHeader"%>


<div class="container-fluid">
    <h1>This is where i will rendered all courses that are available to select with a button on register.</h1>
    <h3>Also, when displaying the registered courses, I also want to unregister the course which will delete the course from the list and include an if statement if there are any registered courses, then display this div. Have a link on the navbar to "Register Course"</h3>
</div>




    


        <%= render "layouts/addACourse"%>
        <%= render "layouts/footer"%>
    </body>
</html>