<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Education as a Benefit - Guild Education</title>
    </head>
    <body class="text-center">
        <%= render "layouts/navbar"%>
        <%= render "layouts/flash" %>

            <div class="section">
                <a href="/students/<%= current_student.id%>" class="guild" ><%= image_tag("students/guild_logo.jpeg", width: '175px') %></a>
                    <div class="container-fluid newCourseForm">
                        <ul class="createCourseRules">
                            <li class="createCourseRule">Grade Must be 1 Letter</li>
                            <li class="createCourseRule">Year Must be 4 Numbers</li>
                        </ul>
                   
                        <%= form_for @course, :url => {:controller => "courses", :action => "update" } do |f| %>
                                <div class="textInputs">
                                    <%= f.hidden_field :student_id %>
                                    <%= f.text_field :name, :placeholder => "Enter Course Name", class: "form-control Input"%> 
                                    <%= f.text_field :grade, :placeholder => "Enter Your Grade", class: "form-control Input" %>
                                    <%= f.text_field :year_taken, :placeholder => "Enter Year Taken", class: "form-control Input" %>
                                    <%= f.text_area :description, :placeholder => "Enter Brief Description", class: "form-control Input"%>
                                </div>
                            <%= f.submit "Save Course", :class => 'btn btn-lg btn-default saveCourse' %>
                            
                            <%= link_to "Delete Course", student_course_path(@course.student_id, @course), method: :delete, data: { confirm: "Are you sure you want to delete this course?" }, class: 'btn btn-lg btn-default saveCourse' %>

                        <% end %>
                    </div>
            </div>
        <%= render "layouts/footer"%>
    </body>
</html>
