
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Education as a Benefit - Guild Education</title>
    </head>
    <body>
    
        <%= render "layouts/navbar"%>
        <%= render "layouts/flash" %>
        <%= render "layouts/studentHeader"%>

        <% if !@courses.blank? || !@register_courses.blank? %>
            <div class="search">
                <%= form_tag("/students/#{current_student.id}/courses", method: :get, class:"class2") do %>
                    <div class="search-bar">
                        <%= text_field_tag :search, params[:search], placeholder: "Search A Course", autocomplete: "off", id:"myInput"%>
                        <%= submit_tag 'Search', class: "btn btn-default searchButton"%>
                    </div>
                <% end %>
            </div>
        <% end %>



    <% if !@courses.empty? %>
    <h4 class="text-center">View my Previous Courses</h4>   
        <div class="row courses justify-content-center">
            <% @courses.each do |course| %>
                <div class="displayCourses">           
                    <div class= "col-lg-4 col-md-6 col-sm-12">
                        <div class="card indCard">
                            <div class="card-body text-center">
                                <h4 class="card-title"><%= course.name %></h4>
                                <p class="card-text"><%= course.year_taken %></p>
                                <%= link_to 'View More', student_course_path(current_student.id, course.id), class: "btn btn-default loginButton" %>                  
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>

    <!-- Registered Courses Section -->
    <% if !@register_courses.empty? %>
    <h4 class="text-center">View my Registered Courses</h4>   
        <div class="row courses justify-content-center display-flex">
            <% @register_courses.each do |register_course| %>
                <div class="displayCourses">           
                    <div class= "col-lg-4 col-md-6 col-sm-12">
                        <div class="card indCard registeredCard">
                            <div class="card-body text-center">
                                <h4 class="card-title"><%= register_course.name %></h4>
                                <p class="card-text"><%= register_course.start %> - <%= register_course.end %></p>
                                <%= link_to 'View More', student_students_registered_course_path(current_student.id, register_course.id), class: "btn btn-default loginButton" %>   
                                <%= hidden_field_tag :register_course_id, register_course.id %>                             
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
    <!-- Section Ends -->

    <% if @courses.empty? && @register_courses.empty? %>
        <div class="text-center getStarted">
            <h5><%= link_to "Add Course", new_student_course_path(current_student), class: "" %> or 
            <%= link_to "Register A Course", register_courses_path, class: "" %> to get started! </h5>
        </div>
        <%= render "layouts/guildCoreValues"%>
    <% end %>

        <%= render "layouts/addACourse"%>
        <%= render "layouts/footer"%>
    </body>
</html>