
<!-- <div class="inverted  testtt company-icon p-t-jumbo p-h-gamma p-h-md-jumbo"><div class="block-center m-h-auto max-width m-b-delta"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-chipotle.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-chipotle.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-chipotle.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-walmart.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-walmart.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-walmart.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-disney.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-disney.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-disney.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-discover.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-discover.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-discover.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-lowes.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-lowes.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-lowes.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-tacobell.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-tacobell.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-tacobell.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uaz.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uaz.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uaz.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-cud.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-cud.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-cud.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uflorida.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uflorida.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uflorida.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-purdue.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-purdue.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-purdue.png" alt="$ci_image['description']"></div></div> -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Education as a Benefit - Guild Education</title>
    </head>
    <body>
    
        <%= render "layouts/navbar"%>
        <%= render "layouts/notice" %>
        <%= render "layouts/studentHeader"%>



    <% if @courses %> 
        <div class="row courses justify-content-center">
            <% @courses.each do |course| %>
                <div class="displayCourses">           
                    <div class= "col-lg-4 col-md-6 col-sm-12">
                        <div class="card indCard">
                            <div class="card-body text-center">
                                <h4 class="card-title"><%= course.name %></h4>
                                <p class="card-text"><%= course.year_taken %></p>
                                <%= link_to 'View More', student_course_path(current_student.id, course.id), class: "btn btn-default loginButton" %>                  
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>


        <%= render "layouts/addACourse"%>
        <%= render "layouts/footer"%>
    </body>
</html>