
<!-- <div class="inverted  testtt company-icon p-t-jumbo p-h-gamma p-h-md-jumbo"><div class="block-center m-h-auto max-width m-b-delta"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-chipotle.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-chipotle.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-chipotle.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-walmart.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-walmart.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-walmart.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-disney.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-disney.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-disney.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-discover.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-discover.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-discover.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-lowes.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-lowes.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-lowes.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-tacobell.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-tacobell.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-tacobell.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uaz.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uaz.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uaz.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-cud.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-cud.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-cud.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uflorida.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uflorida.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-uflorida.png" alt="$ci_image['description']"> <noscript><img class="ci_image" src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-purdue.png" alt="$ci_image['description']"></noscript><img class="ci_image lazyloaded" src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-purdue.png" data-src="https://cdn.shortpixel.ai/client/to_avif,q_glossy,ret_img/https://www.guildeducation.com/wp-content/uploads/2020/10/i-purdue.png" alt="$ci_image['description']"></div></div> -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Education as a Benefit - Guild Education</title>
    </head>
    <body>
    
        <%= render "layouts/navbar"%>
    
    <section id="headingShow">
        <div class="jumbotron studentsShowHeading">
            <div class="row editProfile">
                <h1 class="col-lg-6 col-sm-12 studentsShowTitle">Good afternoon, <%= current_student.first_name %>!</h1>
                <%= link_to 'Edit Profile', edit_student_path(current_student.first_name), class: "btn editProfileButton" %>
                </div>
            </div>
        </div>
    </section>
    
        <div class="card-deck">                       
            <% @courses.each do |course| %>
                <div class="card col-lg-4 col-md-6 col-sm-12">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= course.name %></h5>
                        <p class="card-text"><%= course.year_taken %></p>
                        <%= link_to 'View More', student_course_path(current_student.id, course.id), class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
        </div>

        <%= render "layouts/footer"%>
    </body>
</html>