



            <div class="section text-center">
                <a href="/students/<%= current_student.id%>" class="guild" ><%= image_tag("students/guild_logo.jpeg", width: '175px') %></a>
               
                    <div class="container-fluid newCourseForm">
                         <ul class="createCourseRules">
                            <li class="createCourseRule">Grade Must be 1 Letter</li>
                            <li class="createCourseRule">Year Must be 4 Numbers</li>
                        </ul>
                        <%= form_for @course, :url => {:controller => "courses", :action => "create" } do |f| %>
                                <div class="textInputs">
                                    <%= f.hidden_field :student_id %>
                                    <%= f.text_field :name, :placeholder => "Enter Course Name", class: "form-control Input"%> 
                                    <%= f.text_field :grade, :placeholder => "Enter Your Grade", class: "form-control Input" %>
                                    <%= f.text_field :year_taken, :placeholder => "Enter Year Taken", class: "form-control Input" %>
                                    <%= f.text_area :description, :placeholder => "Enter Brief Description", class: "form-control Input"%>
                                </div>
                            <%= f.submit "Save Course", :class => 'btn btn-lg btn-default saveCourse' %>
                        <% end %>
                    </div>
            </div>
      