<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Education as a Benefit - Guild Education</title>
    </head>
    <body>
        <%= render "layouts/navbar"%>

        <section id="showCourse text-left">
            <div class="container-fluid">
                <div class="courseDetails">
                    <h1><%= @course.name %></h1>
                    <%= @course.year_taken %>
                    <h3>Grade: <%= @course.grade %></h3>
                    <p>Description: <%= @course.description %></p>
                    
                    
                </div> 
            </div>
        </section>
        <%= render "layouts/footer"%>
    </body>

</html>