<section class="companyLogos">
<div class="logos">
<div class="companiess"> 
<div class="row row2">
<p class="trustedBy">TRUSTED BY</p>


<%= image_tag("logos/chipotle_logo", class: "logo") %>
<%= image_tag("logos/walmart_logo", class: "logo") %>
<%= image_tag("logos/discovery_logo", class: "logo") %>
<%= image_tag("logos/lowes_logo", class: "logo") %>
<%= image_tag("logos/taco_bell_logo", class: "logo") %>
<%= image_tag("logos/hilton_logo", class: "logo") %>
 

</div>
</div>
</div>
</section>